In [92]:
import sidetable
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
import plotly.express as px
import matplotlib.pyplot as plt
import plotly.graph_objects as go

# Dataframes:

In [93]:
df_tips = sns.load_dataset('tips')

# Estatística Descritiva:

### Código:

In [94]:
class EstatísticaDescritiva():
    """
        Média
    """
    def __init__(self):
        sns.set_theme(
            context='talk',
            style='ticks',
            font_scale=8,
            palette='viridis',
            rc={
                'figure.figsize': (12, 8),
                'axes.grid': True,
                'grid.alpha': .2,
                'axes.titlesize': 'x-large',
                'axes.titleweight': 'bold',
                'axes.titlepad': 20,
            }
        )

    def amostragem(self, df):
        df_sample = df.sample(50)
        display(df_sample.head())
    
    def average_forma_1(self, df):
        resultado = df['tip'].mean()
        print(resultado)

    def average_forma_2(self, df):
        resultado = df['tip'].agg('mean')
        print(resultado)

    def average_forma_3(self, df):
        resultado = np.mean(df['tip'])
        print(resultado)

    def average_forma_4(self, df):
        resultado = np.sum(df['tip']) / len(df['tip'])
        print(resultado)

    def average_ponderada(self, df):
        resultado = np.average(
            a=df['tip'],
            weights=df['size']
        )
        print(resultado)

    def trimmed_mean(self, df):
        value = df['tip'].sort_values().reset_index()
        rank = 10
        ignorando_os_10_primeiros_e_os_10_ultimos = value[rank:-rank]
        resultado = value[rank:-rank].sum() / (len(value[rank:-rank]) - 2 * rank)
        
        print(resultado)

        resultado_2 = stats.trim_mean(value, .1)
        print(resultado_2)

    def media_harmonica(self, df):
        value = df['tip'].sort_values().reset_index()
        resultado = stats.hmean(value)
        print(resultado)

    def mediana_forma_1(self):
        value = [i for i in range(100)]
        value.append(7000)
        np.random.shuffle(value)
        resultado = int((len(value) + 1)/2 - 1)
        print(resultado)

    def mediana_forma_2(self):
        value = [i for i in range(100)]
        value.append(7000)
        resultado = np.median(value)
        print(resultado)

    def moda_forma_1(self, df):
        resultado = df['total_bill'].value_counts()
        display(resultado)

    def moda_forma_2(self, df):
        resultado = df['total_bill'].mode()
        display(resultado)

    def quants_forma_1(self, df):
        resultado = np.median(df['tip'])
        print(resultado)

    def quants_forma_2(self, df):
        resultado = df['total_bill'].quantile([.25, .5, .75])
        print(resultado)

    def percentile_forma_1(self, df):
        resultado = np.percentile(df['total_bill'], [[.1, .99]])
        print(resultado)

    def dispersion_forma_1(self, df):
        resultado = df.select_dtypes('number').apply(lambda x: x.max() - x.min())
        print(resultado)

    def variancia_forma_1(self, df):
        resultado = df['tip'].var()
        print(resultado)

    def variancia_forma_2(self, df):
        resultado = np.var(
            df['tip'],
            ddof=1
        )
        print(resultado)
    
    def desvio_padrão(self, df):
        resultado = df['tip'].std()
        print(resultado)        

if __name__ == '__main__':
    estatística_descritiva = EstatísticaDescritiva()

### Output:

In [95]:
display(df_tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [96]:
estatística_descritiva.amostragem(df=df_tips)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
143       27.05  5.00  Female     No  Thur   Lunch     6
187       30.46  2.00    Male    Yes   Sun  Dinner     5
73        25.28  5.00  Female    Yes   Sat  Dinner     2
131       20.27  2.83  Female     No  Thur   Lunch     2

In [97]:
estatística_descritiva.average_forma_1(df=df_tips)

2.9982786885245902

In [98]:
estatística_descritiva.average_forma_2(df=df_tips)

2.9982786885245902

In [99]:
estatística_descritiva.average_forma_3(df=df_tips)

2.9982786885245902

In [100]:
estatística_descritiva.average_forma_4(df=df_tips)

2.99827868852459

In [101]:
estatística_descritiva.average_ponderada(df=df_tips)

3.2478309409888357

In [102]:
estatística_descritiva.trimmed_mean(df=df_tips)

index    131.700980
tip        3.185147
dtype: float64
[121.5          2.84270408]

In [103]:
estatística_descritiva.media_harmonica(df=df_tips)

[0.         2.48225291]

In [104]:
estatística_descritiva.mediana_forma_1()

50

In [105]:
estatística_descritiva.mediana_forma_2()

50.0

In [106]:
estatística_descritiva.moda_forma_1(df=df_tips)

13.42    3
13.81    2
15.98    2
17.92    2
10.07    2
        ..
24.71    1
21.16    1
28.97    1
22.49    1
18.78    1
Name: total_bill, Length: 229, dtype: int64

In [107]:
estatística_descritiva.moda_forma_2(df=df_tips)

0    13.42
Name: total_bill, dtype: float64

In [108]:
estatística_descritiva.quants_forma_1(df=df_tips)

2.9

In [109]:
estatística_descritiva.quants_forma_2(df=df_tips)

0.25    13.3475
0.50    17.7950
0.75    24.1275
Name: total_bill, dtype: float64

In [110]:
estatística_descritiva.percentile_forma_1(df=df_tips)

[[3.72124 7.25   ]]

In [111]:
estatística_descritiva.dispersion_forma_1(df=df_tips)

total_bill    47.74
tip            9.00
size           5.00
dtype: float64

In [112]:
estatística_descritiva.variancia_forma_1(df=df_tips)

1.9144546380624725

In [113]:
estatística_descritiva.variancia_forma_2(df=df_tips)

1.9144546380624725

In [114]:
estatística_descritiva.desvio_padrão(df=df_tips)

1.3836381890011826