In [3]:
import pandas as pd

In [19]:
class MetodosParaAcessarLinhas():
    """
        Metodos Para Acessar Linhas
    """
    def __init__(self):
        self.path = r'../Dataset_colabs/clientes_rename.xlsx'
        self.credit = pd.read_excel(
            self.path
        )
    
    def acessando_linha(self):
        print(f'\nAcessando Linha:\n {self.credit.loc[0]}')
    
    def acessando_multiplas_linhas(self):
        print(f'\nAcessando Multiplas Linha:\n {self.credit.loc[0: 2]}')
    
    def acessando_linhas_e_colunas(self):
        print(f'\nAcessando Multiplas Linha:\n {self.credit.loc[0: 2, ["valor_credito", "sexo"]]}')

    def acessando_linhas_e_colunas_de_forma_numerica(self):
        print(f'\nAcessando Multiplas Linha e Colunas:\n {self.credit.iloc[0: 2, 2:6]}')

    def acessando_linhas_a_partir_da_mascara_booleana(self):
        print(f'\nAcessando Linha:\n {self.credit[self.credit["nivel_escolaridade"]==2]}')

In [20]:
if __name__ == '__main__':
    metodos_para_acessar_linhas = MetodosParaAcessarLinhas()
    # metodos_para_acessar_linhas.acessando_linha()
    # metodos_para_acessar_linhas.acessando_multiplas_linhas()
    # metodos_para_acessar_linhas.acessando_linhas_e_colunas()
    # metodos_para_acessar_linhas.acessando_linhas_e_colunas_de_forma_numerica()
    metodos_para_acessar_linhas.acessando_linhas_a_partir_da_mascara_booleana()

Acessando Linha:
        Unnamed: 0     ID  valor_credito  sexo  nivel_escolaridade  \
0               0      1          20000     2                   2
1               1      2         120000     2                   2
2               2      3          90000     2                   2
3               3      4          50000     2                   2
4               4      5          50000     1                   2
...           ...    ...            ...   ...                 ...
29990       29990  29991         140000     1                   2
29991       29991  29992         210000     1                   2
29994       29994  29995          80000     1                   2
29997       29997  29998          30000     1                   2
29999       29999  30000          50000     1                   2

       estado_civil  idade  status_pag_set_2005  status_pag_ago_2005  \
0                 1     24                    2                    2
1                 2     26                   -1                    2
2                 2     34                    0                    0
3                 1     37                    0                    0
4                 1     57                   -1                    0
...             ...    ...                  ...                  ...
29990             1     41                    0                    0
29991             1     34                    3                    2
29994             2     34                    2                    2
29997             2     37                    4                    3
29999             1     46                    0                    0

       status_pag_jul_2005  ...  extrato_jul_2005  extrato_jun_2005  \
0                       -1  ...               689                 0
1                        0  ...              2682              3272
2                        0  ...             13559             14331
3                        0  ...             49291             28314
4                       -1  ...             35835             20940
...                    ...  ...               ...               ...
29990                    0  ...            139110            138262
29991                    2  ...              2500              2500
29994                    2  ...             79384             77519
29997                    2  ...              2758             20878
29999                    0  ...             49764             36535

       extrato_mai_2005  extrato_abr_2005  valor_pag_set_2005  \
0                     0                 0                   0
1                  3455              3261                   0
2                 14948             15549                1518
3                 28959             29547                2000
4                 19146             19131                2000
...                 ...               ...                 ...
29990             49675             46121                6000
29991              2500              2500                   0
29994             82607             81158                7000
29997             20582             19357                   0
29999             32428             15313                2078

       valor_pag_ago_2005  valor_pag_jul_2005  valor_pag_jun_2005  \
0                     689                   0                   0
1                    1000                1000                1000
2                    1500                1000                1000
3                    2019                1200                1100
4                   36681               10000                9000
...                   ...                 ...                 ...
29990                7000                4228                1505
29991                   0                   0                   0
29994                3500                   0                7000
29997                   0               22000                4200
29999                1800                1430                1000

       valor_pag_mai_2005  valor_pag_abr_2005
0                       0                   0
1                       0                2000
2                    1000                5000
3                    1069                1000
4                     689                 679
...                   ...                 ...
29990                2000                2000
29991                   0                   0
29994                   0                4000
29997                2000                3100
29999                1000                1000

[14030 rows x 25 columns]