In [111]:
import os

# Defina a variável de ambiente SPARK_VERSION com a versão do Spark que você está usando
os.environ["SPARK_VERSION"] = "3.0"
import pandas as pd
from pyspark.ml import Pipeline
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.functions import (
    udf,
    col,
    year,
    round,
    date_format,
    to_timestamp,
)
from pyspark.sql.types import (
    StructType,
    StructField,
    IntegerType,
    DoubleType,
    StringType,
    TimestampType
)
from pydeequ.analyzers import (
    AnalysisRunner, 
    AnalyzerContext,
    ApproxCountDistinct,
    Completeness,
    Compliance,
    Mean,
    Size,
)
from pydeequ.checks import (
    Check,
    CheckLevel,
    ConstrainableDataTypes
)
from pydeequ.verification import (
    VerificationResult,
    VerificationSuite
)
from pydeequ.suggestions import (
    ConstraintSuggestionRunner,
    DEFAULT
)

Fonte: [spark.apache.org](https://spark.apache.org/)

# Spark - RDD:

O que é um RDD?

O que é o SparkContext?

In [112]:
sc = SparkContext(
    master='local',
    appName='Primeiro Contato com o spark'
)

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=Primeiro Contato com o spark, master=local) created by __init__ at /tmp/ipykernel_11341/121648590.py:1

## RDD:

In [ ]:
path = r'../../../data/rdd_dataset.txt'
rdd = sc.textFile(
    path
)

In [ ]:
rdd.collect()

['Cenoura',
 'Otimista',
 'Solitário',
 'Imperfeição',
 'Descoberta',
 'Fantasia',
 'DNC',
 'Maravilhoso',
 'Criatividade',
 'Compreensão',
 'Atraente',
 'Festa',
 'Intenção',
 'Encontro',
 'Destino',
 'Sucesso',
 'Conquistar',
 'Simplicidade',
 'Paz',
 'Existência',
 'Poderoso',
 'DNC',
 'Conseguir',
 'Forte',
 'Alegria',
 'Espírito',
 'Mudança',
 'Coragem',
 'Determinação',
 'DNC']

## Código:

In [ ]:
class SparkRDD:
    pass

if __name__ == '__main__':
    spark_rdd = SparkRDD()

## Output:

Filtrando por DNC?

In [ ]:
rdd_dnc = rdd.filter(lambda linha: 'DNC' in linha)
rdd_dnc.collect()

['DNC', 'DNC', 'DNC']

Quantas vezes a palavra 'DNC' aparece?

In [ ]:
rdd_dnc.count()

3

#  PySpark - Leitura de Dados:

O que é o SparkSession?

In [ ]:
spark = SparkSession.builder.appName("Primeiro dataframe no spark").getOrCreate()

## DataFrame:

In [ ]:
path = r'../../../data/base_de_dados.csv'
df = spark.read.csv(
    path,
    sep=';',
    header=True,
)

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

## Código:

In [ ]:
class LeituraDeDados:
    pass

if __name__ == "__main__":
    leitura_de_dados = LeituraDeDados()

## Output:

Quais são os nomes das colunas?

In [ ]:
df.schema.fieldNames()

['id',
 'valor',
 'parte_debitada_nome',
 'parte_debitada_conta',
 'parte_debitada_banco',
 'parte_creditada_nome',
 'parte_creditada_conta',
 'parte_creditada_banco',
 'chave_pix_tipo',
 'chave_pix_valor',
 'data_transacao']

Quais são os tipos?

In [ ]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)

Como alterar os tipos da colunas?

In [ ]:
schemas_pix = StructType([
    StructField('id', IntegerType()),
    StructField('value', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType()),

])

In [ ]:
df = spark.read.csv(
    path=path,
    header=True,
    schema=schemas_pix,
    sep=";",
    timestampFormat="dd/MM/yyy HH:mm"
)

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   value| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

23/08/24 09:02:09 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: id, valor, parte_debitada_nome, parte_debitada_conta, parte_debitada_banco, parte_creditada_nome, parte_creditada_conta, parte_creditada_banco, chave_pix_tipo, chave_pix_valor, data_transacao
 Schema: id, value, parte_debitada_nome, parte_debitada_conta, parte_debitada_banco, parte_creditada_nome, parte_creditada_conta, parte_creditada_banco, chave_pix_tipo, chave_pix_valor, data_transacao
Expected: value but found: valor
CSV file: file:///home/guerrlr0/Documentos/010101110101/Programação/Samuel/Projetos/Python/outros/DataExpert/core/data/base_de_dados.csv

# PySpark- Manipulação de Dados I:

## DataFrame:

In [ ]:
df = spark.read.csv(
    path=path,
    header=True,
    sep=';',
    # inferSchema=True
)

In [ ]:
df.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|  data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|18/02/2022 13:28|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|08/04/2022 01:47|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|14/07/2022 03:18|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|15/01/2022 18:06|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|13/05/2022 11:04|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|11/09/2022 13:38|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|10/12/2021 12:37|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|30/12/2021 23:18|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|21/06/2021 07:20|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|21/09/2022 17:19|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|12/09/2022 00:29|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|07/08/2022 17:01|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|07/03/2021 12:34|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|24/03/2021 22:58|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|21/02/2022 11:25|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|20/07/2021 09:17|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|16/02/2022 10:16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|18/07/2022 22:46|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|26/02/2022 15:05|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|22/06/2021 05:39|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+----------------+
only showing top 20 rows

## Código:

In [ ]:
class ManipulaçãoDeDadosI:
    pass

## Output:

Quais são os tipos?

In [ ]:
df.printSchema()

root
 |-- id: string (nullable = true)
 |-- valor: string (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: string (nullable = true)

Como altera o tipo de uma coluna?

In [ ]:
df_cast = (
    df
    .withColumn(
        'id', col('id').cast('int')
    ).withColumn(
        'valor', col('valor').cast('double')
    ).withColumn(
        'data_transacao', to_timestamp('data_transacao', 'dd/MM/yyy HH:mm')
    )
)

In [ ]:
df_cast.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

Como ficou o DataFrame?

In [ ]:
df_cast.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

Como vejo somente as colunas 'id' e 'valor'?

In [ ]:
df_cast.select(
    'id',
    'valor',
).show()

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

Como crio uma nova coluna?

In [ ]:
df_dolar = df_cast.select(
    'id',
    'valor',
).withColumn(
    'valor_dolar',
    round(col('valor')*2)
)

In [ ]:
df_dolar.show()

+---+--------+-----------+
| id|   valor|valor_dolar|
+---+--------+-----------+
|  1|    9.93|       20.0|
|  2|   15.38|       31.0|
|  3|   57.58|      115.0|
|  4|53705.13|   107410.0|
|  5|25299.69|    50599.0|
|  6| 7165.06|    14330.0|
|  7|    6.16|       12.0|
|  8|  136.36|      273.0|
|  9|  574.39|     1149.0|
| 10|   42.88|       86.0|
| 11|33629.97|    67260.0|
| 12| 4374.56|     8749.0|
| 13|  507.18|     1014.0|
| 14|67758.87|   135518.0|
| 15|  815.53|     1631.0|
| 16|    2.73|        5.0|
| 17|    0.54|        1.0|
| 18|49836.72|    99673.0|
| 19|    9.68|       19.0|
| 20| 9837.22|    19674.0|
+---+--------+-----------+
only showing top 20 rows

Como removo a coluna 'valor_dolar'?

In [ ]:
df_dolar.drop('valor_dolar').show()

+---+--------+
| id|   valor|
+---+--------+
|  1|    9.93|
|  2|   15.38|
|  3|   57.58|
|  4|53705.13|
|  5|25299.69|
|  6| 7165.06|
|  7|    6.16|
|  8|  136.36|
|  9|  574.39|
| 10|   42.88|
| 11|33629.97|
| 12| 4374.56|
| 13|  507.18|
| 14|67758.87|
| 15|  815.53|
| 16|    2.73|
| 17|    0.54|
| 18|49836.72|
| 19|    9.68|
| 20| 9837.22|
+---+--------+
only showing top 20 rows

Como renomeo o nome da coluna 'valor_dolar'?

In [ ]:
df_dolar.withColumnRenamed(
    'valor_dolar',
    'dolar_valor'
).show()

+---+--------+-----------+
| id|   valor|dolar_valor|
+---+--------+-----------+
|  1|    9.93|       20.0|
|  2|   15.38|       31.0|
|  3|   57.58|      115.0|
|  4|53705.13|   107410.0|
|  5|25299.69|    50599.0|
|  6| 7165.06|    14330.0|
|  7|    6.16|       12.0|
|  8|  136.36|      273.0|
|  9|  574.39|     1149.0|
| 10|   42.88|       86.0|
| 11|33629.97|    67260.0|
| 12| 4374.56|     8749.0|
| 13|  507.18|     1014.0|
| 14|67758.87|   135518.0|
| 15|  815.53|     1631.0|
| 16|    2.73|        5.0|
| 17|    0.54|        1.0|
| 18|49836.72|    99673.0|
| 19|    9.68|       19.0|
| 20| 9837.22|    19674.0|
+---+--------+-----------+
only showing top 20 rows

Como vejo todos os pix do tipo 'cpf'?

In [ ]:
df_cast.select(
    'id',
    'valor',
    'chave_pix_tipo'
).filter(
    col('chave_pix_tipo') == 'cpf'
).show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  1|    9.93|           cpf|
|  2|   15.38|           cpf|
|  3|   57.58|           cpf|
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
|  7|    6.16|           cpf|
|  8|  136.36|           cpf|
|  9|  574.39|           cpf|
| 10|   42.88|           cpf|
| 11|33629.97|           cpf|
| 12| 4374.56|           cpf|
| 13|  507.18|           cpf|
| 14|67758.87|           cpf|
| 15|  815.53|           cpf|
| 16|    2.73|           cpf|
| 17|    0.54|           cpf|
| 18|49836.72|           cpf|
| 41|   60.55|           cpf|
| 42|    6.62|           cpf|
+---+--------+--------------+
only showing top 20 rows

Como vejo todos os pixs que não são do tipo 'cpf'?

In [ ]:
df_cast.select(
    'id',
    'valor',
    'chave_pix_tipo',
).filter(
    col('chave_pix_tipo') != 'cpf' 
).show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
| 19|    9.68|       celular|
| 20| 9837.22|       celular|
| 21|    9.36|       celular|
| 22|   22.43|       celular|
| 23|    7.44|       celular|
| 24|   40.36|       celular|
| 25|   28.66|       celular|
| 26|  154.98|       celular|
| 27|35859.11|       celular|
| 28|   89.94|       celular|
| 29|  890.47|       celular|
| 30| 3035.83|       celular|
| 31|20875.64|       celular|
| 32| 1508.83|       celular|
| 33|    1.58|       celular|
| 34|58083.62|       celular|
| 35| 7944.02|       celular|
| 36|48714.95|       celular|
| 37|19799.16|       celular|
| 38|   32.79|       celular|
+---+--------+--------------+
only showing top 20 rows

Como vejo todos os pixs que são do tipo 'celular' & tem um valor maior que R$ 100,00?

In [ ]:
df_cast.select(
    'id',
    'valor',
    'chave_pix_tipo',
).filter(
    (col('chave_pix_tipo') == 'celular') & 
    (col('valor') > 100)
).show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
| 20| 9837.22|       celular|
| 26|  154.98|       celular|
| 27|35859.11|       celular|
| 29|  890.47|       celular|
| 30| 3035.83|       celular|
| 31|20875.64|       celular|
| 32| 1508.83|       celular|
| 34|58083.62|       celular|
| 35| 7944.02|       celular|
| 36|48714.95|       celular|
| 37|19799.16|       celular|
| 40|  829.87|       celular|
+---+--------+--------------+

Como vejo todos os pixs que são do tipo 'celular' ou 'cpf'?

In [ ]:
df_cast.select(
    'id',
    'valor',
    'chave_pix_tipo',
).filter(
    (col('chave_pix_tipo') == 'celular') | 
    (col('chave_pix_tipo') == 'cpf')
).show()

+---+--------+--------------+
| id|   valor|chave_pix_tipo|
+---+--------+--------------+
|  1|    9.93|           cpf|
|  2|   15.38|           cpf|
|  3|   57.58|           cpf|
|  4|53705.13|           cpf|
|  5|25299.69|           cpf|
|  6| 7165.06|           cpf|
|  7|    6.16|           cpf|
|  8|  136.36|           cpf|
|  9|  574.39|           cpf|
| 10|   42.88|           cpf|
| 11|33629.97|           cpf|
| 12| 4374.56|           cpf|
| 13|  507.18|           cpf|
| 14|67758.87|           cpf|
| 15|  815.53|           cpf|
| 16|    2.73|           cpf|
| 17|    0.54|           cpf|
| 18|49836.72|           cpf|
| 19|    9.68|       celular|
| 20| 9837.22|       celular|
+---+--------+--------------+
only showing top 20 rows

Como deletar todos os nulos?

In [ ]:
df_cast.na.drop('any').show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

Como deletar somente as linhas que estão totalmente nulas?

In [ ]:
df_cast.na.drop('all').show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

Como deletar somente os nulos nas colunas 'id' e 'valor'?

In [ ]:
df_cast.na.drop('all', subset=['id', 'valor']).show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

Como substitui os valores nulos na coluna 'valor' por 0?

In [ ]:
df_cast.na.fill(0, subset=['valor']).show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

Qual a quantidade de transações feitas por tipo de chave pix?

In [ ]:
(
    df_cast.select('chave_pix_tipo')
    .groupby('chave_pix_tipo')
    .count()
    .show()
)

+--------------+-----+
|chave_pix_tipo|count|
+--------------+-----+
|       celular|   22|
|         email|   29|
|           cpf|   49|
+--------------+-----+

Qual a montante de transações feitas por tipo de chave pix?

In [ ]:
(
    df_cast.select('chave_pix_tipo', 'valor')
    .groupby('chave_pix_tipo')
    .sum('valor')
    .show()
)

+--------------+------------------+
|chave_pix_tipo|        sum(valor)|
+--------------+------------------+
|       celular|         207778.46|
|         email|499009.38000000006|
|           cpf| 659513.3499999997|
+--------------+------------------+

Qual o valor médio de transações feitas por tipo de chave pix?

In [ ]:
(
    df_cast.select('chave_pix_tipo', 'valor')
    .groupby('chave_pix_tipo')
    .avg('valor')
    .show()
)

+--------------+------------------+
|chave_pix_tipo|        avg(valor)|
+--------------+------------------+
|       celular| 9444.475454545454|
|         email|          17207.22|
|           cpf|13459.456122448973|
+--------------+------------------+

# Pyspark - Escrita de Dados:

## DataFrame:

In [ ]:
df_not_null = df_cast.na.fill(0, subset=['valor'])

In [ ]:
df_not_null.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

## Código:

## Output:

Quais são os tipos?

In [ ]:
df_not_null.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = false)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

Como filtra pelo ano de 2022?

In [ ]:
df_2022 = df_not_null.filter(
    year(col('data_transacao')) == '2022'
)

Qual foi a quantidade de transações em 2022?

In [ ]:
(
    df_2022
    .withColumn(
        'year', year(col('data_transacao'))
    )
    .groupby('year')
    .count()
    .show()
)

+----+-----+
|year|count|
+----+-----+
|2022|   48|
+----+-----+

Como guarda os dados no formato csv?

In [ ]:
df_2022.write.mode('overwrite').csv('base_de_2022.csv')

Como guarda os dados no formato parquet?

In [ ]:
df_2022.write.mode('overwrite').parquet('base_de_2022.parquet')

# PySpark - Particionamento:

## DataFrame:

In [ ]:
df_pp = df_cast

In [ ]:
df_pp.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

## Código:

# output:

In [ ]:
df_pp.printSchema()

root
 |-- id: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- parte_debitada_nome: string (nullable = true)
 |-- parte_debitada_conta: string (nullable = true)
 |-- parte_debitada_banco: string (nullable = true)
 |-- parte_creditada_nome: string (nullable = true)
 |-- parte_creditada_conta: string (nullable = true)
 |-- parte_creditada_banco: string (nullable = true)
 |-- chave_pix_tipo: string (nullable = true)
 |-- chave_pix_valor: string (nullable = true)
 |-- data_transacao: timestamp (nullable = true)

Como verficar as partições?

In [ ]:
df_pp.rdd.getNumPartitions()

1

Como verificar as especificações da marquina?

In [ ]:
# !lscpu

Como particionar a coluna 'chave_pix_tipo'?

In [ ]:
(
    df_pp
    .write
    .mode('overwrite')
    .partitionBy('chave_pix_tipo')
    .parquet('chave_pix_tipo')
)

Como criar uma coluna de data nesse formato 'yyy-mm-dd'?

In [ ]:
df_final = df_cast.withColumn(
    'data_particao',
    date_format(col('data_transacao'), 'yyyy-mm-dd')
)

In [ ]:
df_final.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|data_particao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|   2022-28-18|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|   2022-47-08|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|   2022-18-14|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|   2022-06-15|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|   2022-04-13|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|   2022-38-11|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|   2021-37-10|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|   2021-18-30|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|   2021-20-21|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|   2022-19-21|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|   2022-29-12|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|   2022-01-07|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|   2021-34-07|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|   2021-58-24|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|   2022-25-21|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|   2021-17-20|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|   2022-16-16|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|   2022-46-18|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|   2022-05-26|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|   2021-39-22|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+-------------+
only showing top 20 rows

Como guarda os dados no formato parquet?

In [ ]:
(
    df_final
    .write
    .mode('overwrite')
    .partitionBy('data_particao')
    .parquet('data_particao')
)

Como ler o df particionado?

In [ ]:
df_particionado = (
    spark
    .read
    .parquet('data_particao')
)

In [ ]:
df_particionado.show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+-------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|     chave_pix_valor|     data_transacao|data_particao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+-------------+
| 87|    0.93|     Mariane da Mota|            84120695|            Bradesco|Dra. Alana das Neves|             96784904|             Bradesco|         email|alana.das.neves@h...|2021-06-20 16:41:00|   2021-41-20|
| 88|78347.58|     Lorenzo Ribeiro|            50434631|                 BTG|Maria Clara Rodri...|             26325899|                 Itau|         email|maria.clara.rodri...|2021-03-18 14:21:00|   2021-21-18|
| 78|81977.98|      Giovanna Costa|            37809286|                Itau|Joao Guilherme Ramos|             75756231|             Bradesco|         email|joao.guilherme.ra...|2021-02-16 18:57:00|   2021-57-16|
| 77| 8265.44|         Sarah Jesus|             4764581|                 BTG|Luiz Henrique das...|             71227398|                  BTG|         email|luiz.henrique.das...|2021-11-21 09:17:00|   2021-17-21|
| 95|  202.69| Joao Gabriel Castro|            50219556|                 BTG|   Ana Clara Ribeiro|             98997500|               Nubank|         email|ana.clara.ribeiro...|2021-04-19 12:46:00|   2021-46-19|
| 81|     1.9|    Srta. Lara Costa|            81344472|                 BTG|Sra. Gabrielly Ca...|             10431480|                  BTG|         email|gabrielly.caldeir...|2021-08-11 04:10:00|   2021-10-11|
| 76| 9320.87|  Joao Pedro Freitas|            26109760|                Itau|   Srta. Laura Pinto|             84371001|               Nubank|         email|srta..laura.pinto...|2021-07-16 00:01:00|   2021-01-16|
| 82| 2842.73|     Juliana Cardoso|            75484383|                Itau| Ana Luiza Fernandes|               320358|               Nubank|         email|ana.luiza.fernand...|2022-10-29 23:43:00|   2022-43-29|
| 90|   32.23|  Sr. Matheus Santos|            73634717|            Bradesco|     Isabel Ferreira|              4979355|               Nubank|         email|isabel.ferreira@g...|2022-08-22 19:56:00|   2022-56-22|
| 79| 78559.4|Lucas Gabriel Car...|            21729930|            Bradesco|       Brenda da Luz|             11563344|                 Itau|         email|brenda.da.luz@hot...|2022-01-09 22:31:00|   2022-31-09|
| 85|    4.68|          Joao Rocha|            38006155|            Bradesco|    Juliana da Cunha|             31455037|             Bradesco|         email|juliana.da.cunha@...|2022-02-23 01:30:00|   2022-30-23|
| 96|  869.39|  Ana Livia Carvalho|            95439137|                Itau| Dra. Vitoria da Paz|             32448747|                  BTG|         email|vitoria.da.paz@ho...|2022-07-30 19:56:00|   2022-56-30|
| 29|  890.47|Sr. Luiz Felipe S...|            20051189|            Bradesco|Enzo Gabriel Cardoso|             17302910|               Nubank|       celular|         31920761665|2022-11-19 19:25:00|   2022-25-19|
| 73|  570.52|    Dr. Caue Rezende|             1586882|                 BTG|   Francisco Azevedo|             73933646|                  BTG|         email|francisco.azevedo...|2021-08-02 18:40:00|   2021-40-02|
| 86|94736.79|Joao Vitor Cavalc...|            52265189|                 BTG|        Stella Gomes|             93858790|               Nubank|         email|stella.gomes@yaho...|2021-01-26 00:04:00|   2021-04-26|
| 99|    9.77|   Ana Livia Correia|            37128931|                Itau|     Gabrielly Viana|             97906999|               Nubank|         email|gabrielly.viana@g...|2022-02-01 20:54:00|   2022-54-01|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|         63542098124|2022-09-12 00:29:00|   2022-29-12|
| 30| 3035.83|Dr. Davi Lucas Ca...|             7706330|                 BTG|Enzo Gabriel Nasc...|             95438570|               Nubank|       celular|         21995027998|2021-01-09 02:17:00|   2021-17-09|
| 75| 1188.65|    Davi Lucas Viana|             8744886|              Nubank|        Enrico Sales|             41968952|             Bradesco|         email|enrico.sales@hotm...|2022-04-12 04:02:00|   2022-02-12|
| 80|  452.38|     Arthur Carvalho|            23482854|            Bradesco|      Catarina Moura|             38128549|                  BTG|         email|catarina.moura@gm...|2022-11-04 01:50:00|   2022-50-04|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+--------------------+-------------------+-------------+
only showing top 20 rows

Qual é a quantidade de partições?

In [ ]:
df_particionado.rdd.getNumPartitions()

4

Como diminuir o número de partições?

In [ ]:
df_particionado_coalesce = (
    df_particionado
    .coalesce(2)
)

In [ ]:
df_particionado_coalesce.rdd.getNumPartitions()

2

Como criar uma coluna de data nesse formato 'yyyy-mm'?

In [ ]:
df_final_ano_mes = df_cast.withColumn(
    'data_particao',
    date_format(col('data_transacao'), 'yyyy-MM')
)

Como guardar os dados no formato parquet?

In [ ]:
(
    df_final_ano_mes
    .write
    .mode('overwrite')
    .partitionBy('data_particao')
    .parquet('data_particao')
)

# SparkUI - Prática:

## Schema:

In [ ]:
schema_remetente_distinatario = StructType([
    StructField('nome', StringType()),
    StructField('banco', StringType()),
    StructField('tipo', StringType()),
])

schema = StructType([
    StructField('id_transacao', StringType()),
    StructField('chave_pix', StringType()),
    StructField('destinatario', schema_remetente_distinatario),
    StructField('remetente', schema_remetente_distinatario),
    StructField('valor', DoubleType()),
    StructField('transaction_date', TimestampType()),
])

## DataFrame:

In [ ]:
path = r'../../../data/pix_transactions.json'
df = spark.read.json(
    path,
    schema=schema,
    timestampFormat='yyyy-MM-dd'
)

In [ ]:
df.show()

+------------+---------+--------------------+--------------------+--------+-------------------+
|id_transacao|chave_pix|        destinatario|           remetente|   valor|   transaction_date|
+------------+---------+--------------------+--------------------+--------+-------------------+
|        1000|      cpf|{Gabriel Cunha, I...|{Jonathan Gonsalv...|    7.05|2022-03-19 00:00:00|
|        1001|aleatoria|{Diego Souza, XP,...|{Jonathan Gonsalv...|   37.28|2021-01-26 00:00:00|
|        1002|aleatoria|{Nicole Nunes, BT...|{Jonathan Gonsalv...|  282.73|2022-05-31 00:00:00|
|        1003|aleatoria|{Maria Fernanda C...|{Jonathan Gonsalv...| 8447.92|2022-07-04 00:00:00|
|        1004|aleatoria|{Isabel Silva, C6...|{Jonathan Gonsalv...|   58.51|2021-09-11 00:00:00|
|        1005|  celular|{Anthony Carvalho...|{Jonathan Gonsalv...| 6655.12|2022-02-11 00:00:00|
|        1006|      cpf|{Eloah Monteiro, ...|{Jonathan Gonsalv...| 9912.25|2022-05-10 00:00:00|
|        1007|aleatoria|{Sophie Rocha, BT...|{Jonathan Gonsalv...| 8212.91|2022-08-28 00:00:00|
|        1008|      cpf|{Pietro Ribeiro, ...|{Jonathan Gonsalv...|   91.71|2022-03-23 00:00:00|
|        1009|      cpf|{Eloah Teixeira, ...|{Jonathan Gonsalv...|   44.29|2021-09-18 00:00:00|
|        1010|    email|{Emanuella Sales,...|{Jonathan Gonsalv...|     8.2|2022-11-10 00:00:00|
|        1011|    email|{Valentina Campos...|{Jonathan Gonsalv...|    1.69|2021-07-15 00:00:00|
|        1012|    email|{Stella Araujo, X...|{Jonathan Gonsalv...|  442.76|2021-11-14 00:00:00|
|        1013|aleatoria|{Benicio Costela,...|{Jonathan Gonsalv...|    5.02|2022-11-15 00:00:00|
|        1014|      cpf|{Joao Fernandes, ...|{Jonathan Gonsalv...|79576.33|2021-03-13 00:00:00|
|        1015|    email|{Gabriela da Roch...|{Jonathan Gonsalv...|   96.61|2022-08-05 00:00:00|
|        1016|  celular|{Larissa Aragao, ...|{Jonathan Gonsalv...|   16.92|2022-09-01 00:00:00|
|        1017|  celular|{Theo Dias, BTG, PJ}|{Jonathan Gonsalv...| 7128.87|2022-02-02 00:00:00|
|        1018|aleatoria|{Danilo Jesus, XP...|{Jonathan Gonsalv...| 1658.63|2021-08-11 00:00:00|
|        1019|  celular|{Bruno Correia, C...|{Jonathan Gonsalv...| 3935.92|2022-07-14 00:00:00|
+------------+---------+--------------------+--------------------+--------+-------------------+
only showing top 20 rows

## Código:

## Output:

In [ ]:
df.printSchema()

root
 |-- id_transacao: string (nullable = true)
 |-- chave_pix: string (nullable = true)
 |-- destinatario: struct (nullable = true)
 |    |-- nome: string (nullable = true)
 |    |-- banco: string (nullable = true)
 |    |-- tipo: string (nullable = true)
 |-- remetente: struct (nullable = true)
 |    |-- nome: string (nullable = true)
 |    |-- banco: string (nullable = true)
 |    |-- tipo: string (nullable = true)
 |-- valor: double (nullable = true)
 |-- transaction_date: timestamp (nullable = true)

# SparkSQL - Introdução:

## Schema:

In [ ]:
schema = StructType([
    StructField('id', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('parte_debitada_nome', StringType()),
    StructField('parte_debitada_conta', StringType()),
    StructField('parte_debitada_banco', StringType()),
    StructField('parte_creditada_nome', StringType()),
    StructField('parte_creditada_conta', StringType()),
    StructField('parte_creditada_banco', StringType()),
    StructField('chave_pix_tipo', StringType()),
    StructField('chave_pix_valor', StringType()),
    StructField('data_transacao', TimestampType())
])

## DataFrame:

In [ ]:
path = r'../../../data/base_de_dados.csv'
df = spark.read.csv(
    path=path,
    header=True,
    schema=schema,
    sep=';',
    timestampFormat='dd/MM/yyyy HH:mm'
).createOrReplaceTempView("base_pix")

In [ ]:
spark.sql('select * from base_pix').show()

+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
| id|   valor| parte_debitada_nome|parte_debitada_conta|parte_debitada_banco|parte_creditada_nome|parte_creditada_conta|parte_creditada_banco|chave_pix_tipo|chave_pix_valor|     data_transacao|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
|  1|    9.93|Dra. Ana Carolina...|            79470453|              Nubank|       Maysa da Cruz|             67162333|                 Itau|           cpf|     8439752610|2022-02-18 13:28:00|
|  2|   15.38|        Ana Caldeira|            19689668|                Itau|        Evelyn Sales|             60005091|             Bradesco|           cpf|    27145380617|2022-04-08 01:47:00|
|  3|   57.58|    Arthur Goncalves|            18856899|            Bradesco|          Maria Melo|             13496303|                  BTG|           cpf|    16452937006|2022-07-14 03:18:00|
|  4|53705.13|  Ana Julia Caldeira|            22834741|                Itau|   Ana Livia Almeida|             44695116|               Nubank|           cpf|    26590384142|2022-01-15 18:06:00|
|  5|25299.69|  Srta. Nicole Pinto|             3715882|              Nubank|Srta. Ana Laura d...|             21409465|               Nubank|           cpf|    73486105280|2022-05-13 11:04:00|
|  6| 7165.06|   Gabriela Ferreira|             2243037|              Nubank|       Larissa Souza|             10689552|                 Itau|           cpf|    96845371237|2022-09-11 13:38:00|
|  7|    6.16|    Heloisa da Rocha|            59778949|                 BTG|Dra. Vitoria Silv...|             56583792|               Nubank|           cpf|    89064175357|2021-12-10 12:37:00|
|  8|  136.36|Srta. Isadora Cor...|            77102442|              Nubank|  Francisco da Costa|             96088386|               Nubank|           cpf|    85907632429|2021-12-30 23:18:00|
|  9|  574.39|   Dr. Lucas da Cruz|            38501170|                 BTG|       Calebe da Luz|             19365554|             Bradesco|           cpf|    64720189520|2021-06-21 07:20:00|
| 10|   42.88|     Mirella Martins|            29535709|            Bradesco|        Danilo Lopes|             60064650|                 Itau|           cpf|    87014935232|2022-09-21 17:19:00|
| 11|33629.97|Sr. Vitor Gabriel...|            67010663|                 BTG|Sra. Lavinia Cald...|             48145941|               Nubank|           cpf|    63542098124|2022-09-12 00:29:00|
| 12| 4374.56|      Nathan Peixoto|            22975623|              Nubank|        Diogo da Luz|             30302218|             Bradesco|           cpf|    72908154323|2022-08-07 17:01:00|
| 13|  507.18|       Miguel Araujo|            75113657|              Nubank|Marcos Vinicius G...|             67418115|                 Itau|           cpf|    84763129031|2021-03-07 12:34:00|
| 14|67758.87|     Juliana Correia|             4495167|                Itau|    Davi Lucas Porto|             94395923|                  BTG|           cpf|    97804215649|2021-03-24 22:58:00|
| 15|  815.53|     Ana Laura Souza|            79650252|                Itau|        Isabel Costa|             28762988|                  BTG|           cpf|    51824039689|2022-02-21 11:25:00|
| 16|    2.73|           Levi Lima|            73815441|                 BTG|Dra. Maria Luiza ...|             96594203|             Bradesco|           cpf|    94516738066|2021-07-20 09:17:00|
| 17|    0.54|        Otavio Cunha|            85583961|            Bradesco|       Elisa Moreira|             97003354|             Bradesco|           cpf|    15248769094|2022-02-16 10:16:00|
| 18|49836.72|Ana Carolina Oliv...|            80200942|                Itau|    Stella Fernandes|             31579145|                  BTG|           cpf|    47609381250|2022-07-18 22:46:00|
| 19|    9.68|        Levi Martins|            12349481|                Itau|Joao Guilherme Me...|             31102492|                  BTG|       celular|    11916824404|2022-02-26 15:05:00|
| 20| 9837.22|          Noah Cunha|            84622162|            Bradesco|         Juan Mendes|             97805965|             Bradesco|       celular|    11944547225|2021-06-22 05:39:00|
+---+--------+--------------------+--------------------+--------------------+--------------------+---------------------+---------------------+--------------+---------------+-------------------+
only showing top 20 rows

## Código:

## Output:

Qual foi a quantidade de transações por tido de chave pix?

In [ ]:
query = """
select
    chave_pix_tipo,
    count(id) as quantidade
from base_pix

group by chave_pix_tipo
"""
spark.sql(query).show()

+--------------+----------+
|chave_pix_tipo|quantidade|
+--------------+----------+
|       celular|        22|
|         email|        29|
|           cpf|        49|
+--------------+----------+

Qual foi o valor total transacionado por tipo de chave pix?

In [ ]:
query = """
select
    chave_pix_tipo,
    round(sum(valor), 2) as valor_total
from base_pix

group by chave_pix_tipo
"""
spark.sql(query).show()

+--------------+-----------+
|chave_pix_tipo|valor_total|
+--------------+-----------+
|       celular|  207778.46|
|         email|  499009.38|
|           cpf|  659513.35|
+--------------+-----------+

Qual foi a média transacionado por tipo de chave pix?

In [ ]:
query = """
select
    chave_pix_tipo,
    round(avg(valor), 2) as media
from base_pix

group by chave_pix_tipo
"""

spark.sql(query).show()

+--------------+--------+
|chave_pix_tipo|   media|
+--------------+--------+
|       celular| 9444.48|
|         email|17207.22|
|           cpf|13459.46|
+--------------+--------+

# SparkSQL - II:

## Schema:

In [ ]:
schema_remetente_distinatario = StructType([
    StructField('nome', StringType()),
    StructField('banco', StringType()),
    StructField('tipo', StringType()),
])

schema = StructType([
    StructField('id_transacao', StringType()),
    StructField('chave_pix', StringType()),
    StructField('destinatario', schema_remetente_distinatario),
    StructField('remetente', schema_remetente_distinatario),
    StructField('valor', DoubleType()),
    StructField('transaction_date', TimestampType()),
])

## DataFrame:

In [ ]:
path = r'../../../data/pix_transactions.json'
df = spark.read.json(
    path,
    schema=schema,
    timestampFormat='yyyy-MM-dd'
).createOrReplaceTempView("base_pix_json")

In [ ]:
spark.sql('select * from base_pix_json').show()

+------------+---------+--------------------+--------------------+--------+-------------------+
|id_transacao|chave_pix|        destinatario|           remetente|   valor|   transaction_date|
+------------+---------+--------------------+--------------------+--------+-------------------+
|        1000|      cpf|{Gabriel Cunha, I...|{Jonathan Gonsalv...|    7.05|2022-03-19 00:00:00|
|        1001|aleatoria|{Diego Souza, XP,...|{Jonathan Gonsalv...|   37.28|2021-01-26 00:00:00|
|        1002|aleatoria|{Nicole Nunes, BT...|{Jonathan Gonsalv...|  282.73|2022-05-31 00:00:00|
|        1003|aleatoria|{Maria Fernanda C...|{Jonathan Gonsalv...| 8447.92|2022-07-04 00:00:00|
|        1004|aleatoria|{Isabel Silva, C6...|{Jonathan Gonsalv...|   58.51|2021-09-11 00:00:00|
|        1005|  celular|{Anthony Carvalho...|{Jonathan Gonsalv...| 6655.12|2022-02-11 00:00:00|
|        1006|      cpf|{Eloah Monteiro, ...|{Jonathan Gonsalv...| 9912.25|2022-05-10 00:00:00|
|        1007|aleatoria|{Sophie Rocha, BT...|{Jonathan Gonsalv...| 8212.91|2022-08-28 00:00:00|
|        1008|      cpf|{Pietro Ribeiro, ...|{Jonathan Gonsalv...|   91.71|2022-03-23 00:00:00|
|        1009|      cpf|{Eloah Teixeira, ...|{Jonathan Gonsalv...|   44.29|2021-09-18 00:00:00|
|        1010|    email|{Emanuella Sales,...|{Jonathan Gonsalv...|     8.2|2022-11-10 00:00:00|
|        1011|    email|{Valentina Campos...|{Jonathan Gonsalv...|    1.69|2021-07-15 00:00:00|
|        1012|    email|{Stella Araujo, X...|{Jonathan Gonsalv...|  442.76|2021-11-14 00:00:00|
|        1013|aleatoria|{Benicio Costela,...|{Jonathan Gonsalv...|    5.02|2022-11-15 00:00:00|
|        1014|      cpf|{Joao Fernandes, ...|{Jonathan Gonsalv...|79576.33|2021-03-13 00:00:00|
|        1015|    email|{Gabriela da Roch...|{Jonathan Gonsalv...|   96.61|2022-08-05 00:00:00|
|        1016|  celular|{Larissa Aragao, ...|{Jonathan Gonsalv...|   16.92|2022-09-01 00:00:00|
|        1017|  celular|{Theo Dias, BTG, PJ}|{Jonathan Gonsalv...| 7128.87|2022-02-02 00:00:00|
|        1018|aleatoria|{Danilo Jesus, XP...|{Jonathan Gonsalv...| 1658.63|2021-08-11 00:00:00|
|        1019|  celular|{Bruno Correia, C...|{Jonathan Gonsalv...| 3935.92|2022-07-14 00:00:00|
+------------+---------+--------------------+--------------------+--------+-------------------+
only showing top 20 rows

## Código:

## Output:

In [ ]:
query = """
with cte_base_window(
    select
        destinatario.banco,
        valor,
        row_number() over(partition by destinatario.banco order by valor desc) as row_number
    from base_pix_json
) 

select
    banco,
    valor
from cte_base_window
where row_number in (1, 2)
"""
spark.sql(query).show()

+--------+--------+
|   banco|   valor|
+--------+--------+
|     BTG|99946.78|
|     BTG| 99913.9|
|Bradesco|99910.87|
|Bradesco|99887.88|
|      C6|99980.03|
|      C6|99964.99|
|   Caixa|99969.06|
|   Caixa|99933.09|
|    Itau|99999.54|
|    Itau|99951.02|
|  Nubank|99935.45|
|  Nubank|99914.35|
|      XP|99961.28|
|      XP|99934.01|
+--------+--------+

# SparkML - Intodução e Preparação dos Dados:

# Schema:

In [ ]:
schema_remetente_destinatario = StructType([
    StructField('nome', StringType()),
    StructField('banco', StringType()),
    StructField('tipo', StringType())
])

schema = StructType([
    StructField('id_transacao', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('remetente', schema_remetente_destinatario),
    StructField('destinatario', schema_remetente_destinatario),
    StructField('chave_pix', StringType()),
    StructField('categoria', StringType()),
    StructField('transaction_date', StringType()),
    StructField('fraude', IntegerType())
])

# DataFrame:

In [ ]:
path = r'../../../data/case_final.json'
df = spark.read.json(
    path=path,
    schema=schema,
    timestampFormat="yyyy-MM-dd HH:mm:ss"
)

In [ ]:
df.show()

+------------+------------------+--------------------+--------------------+---------+-------------+-------------------+------+
|id_transacao|             valor|           remetente|        destinatario|chave_pix|    categoria|   transaction_date|fraude|
+------------+------------------+--------------------+--------------------+---------+-------------+-------------------+------+
|        1000|            588.08|{Jonathan Gonsalv...|{Calebe Melo, Cai...|aleatoria|       outros|2021-07-16 05:00:55|     0|
|        1001|           80682.5|{Jonathan Gonsalv...|{Davi Lucas Perei...|  celular|transferencia|2022-04-20 12:34:01|     1|
|        1002|             549.9|{Jonathan Gonsalv...|{Sabrina Castro, ...|      cpf|        lazer|2022-07-10 16:51:34|     0|
|        1003|             90.83|{Jonathan Gonsalv...|{Francisco da Con...|aleatoria|   transporte|2022-10-20 10:57:36|     0|
|        1004|13272.619999999999|{Jonathan Gonsalv...|{Isabelly Ferreir...|    email|transferencia|2021-04-06 20:26:51|     0|
|        1005|           9347.58|{Jonathan Gonsalv...|{Srta. Maria da C...|aleatoria|        saude|2022-07-24 15:22:27|     0|
|        1006|           7836.76|{Jonathan Gonsalv...|{Catarina Duarte,...|      cpf|    presentes|2022-10-05 19:20:24|     0|
|        1007|           3883.62|{Jonathan Gonsalv...|{Vitor Correia, X...|      cpf|    vestuario|2021-04-24 17:36:34|     0|
|        1008|               4.0|{Jonathan Gonsalv...|{Theo Novaes, C6,...|aleatoria|        saude|2021-11-16 21:46:47|     0|
|        1009|              24.3|{Jonathan Gonsalv...|{Isabel Caldeira,...|      cpf|transferencia|2021-07-26 02:08:49|     0|
|        1010|           87555.3|{Jonathan Gonsalv...|{Sr. Henrique Car...|aleatoria|transferencia|2022-03-14 15:34:45|     1|
|        1011|          21345.91|{Jonathan Gonsalv...|{Felipe Cavalcant...|      cpf|transferencia|2021-10-31 04:31:51|     1|
|        1012|          73605.85|{Jonathan Gonsalv...|{Dr. Davi da Luz,...|  celular|transferencia|2021-04-30 19:19:56|     1|
|        1013|             93.53|{Jonathan Gonsalv...|{Stephany Cardoso...|      cpf|  alimentacao|2023-01-13 13:39:57|     0|
|        1014|            564.11|{Jonathan Gonsalv...|{Sra. Julia Arauj...|aleatoria|    vestuario|2022-05-27 23:06:08|     0|
|        1015|              3.59|{Jonathan Gonsalv...|{Carolina Farias,...|    email|        saude|2021-10-06 21:19:58|     0|
|        1016|          19164.89|{Jonathan Gonsalv...|{Isabelly da Cost...|    email|  alimentacao|2022-03-06 17:59:43|     0|
|        1017|             68.45|{Jonathan Gonsalv...|{Joao Miguel Silv...|aleatoria|    vestuario|2022-04-01 18:17:40|     0|
|        1018|            941.25|{Jonathan Gonsalv...|{Matheus Moura, C...|  celular|    vestuario|2022-05-23 00:28:13|     0|
|        1019|27009.910000000003|{Jonathan Gonsalv...|{Gabrielly Goncal...|    email|transferencia|2021-08-04 23:22:37|     1|
+------------+------------------+--------------------+--------------------+---------+-------------+-------------------+------+
only showing top 20 rows

## Código:

## Output:

### Entendimento dos dados:

In [ ]:
df.printSchema()

root
 |-- id_transacao: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- remetente: struct (nullable = true)
 |    |-- nome: string (nullable = true)
 |    |-- banco: string (nullable = true)
 |    |-- tipo: string (nullable = true)
 |-- destinatario: struct (nullable = true)
 |    |-- nome: string (nullable = true)
 |    |-- banco: string (nullable = true)
 |    |-- tipo: string (nullable = true)
 |-- chave_pix: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- fraude: integer (nullable = true)

### Preparação dos dados:

Como transforma a struct na coluna 'destinatario' em novas colunas?

In [ ]:
df_flatten = df.withColumns({
    'destinatario_nome': col('destinatario').getField('nome'),
    'destinatario_banco': col('destinatario').getField('banco'),
    'destinatario_tipo': col('destinatario').getField('tipo'),
})

Como deletar as colunas 'remetente' e 'destinatario'?

In [ ]:
df_flatten = df_flatten.drop('remetente', 'destinatario')

Qual foi o resultado final da preparação dos dados?

In [ ]:
df_flatten.show()

+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+
|id_transacao|             valor|chave_pix|    categoria|   transaction_date|fraude|   destinatario_nome|destinatario_banco|destinatario_tipo|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+
|        1000|            588.08|aleatoria|       outros|2021-07-16 05:00:55|     0|         Calebe Melo|             Caixa|               PF|
|        1001|           80682.5|  celular|transferencia|2022-04-20 12:34:01|     1|  Davi Lucas Pereira|             Caixa|               PJ|
|        1002|             549.9|      cpf|        lazer|2022-07-10 16:51:34|     0|      Sabrina Castro|            Nubank|               PF|
|        1003|             90.83|aleatoria|   transporte|2022-10-20 10:57:36|     0|Francisco da Conc...|            Nubank|               PJ|
|        1004|13272.619999999999|    email|transferencia|2021-04-06 20:26:51|     0|   Isabelly Ferreira|               BTG|               PJ|
|        1005|           9347.58|aleatoria|        saude|2022-07-24 15:22:27|     0|Srta. Maria da Cunha|              Itau|               PJ|
|        1006|           7836.76|      cpf|    presentes|2022-10-05 19:20:24|     0|     Catarina Duarte|                C6|               PF|
|        1007|           3883.62|      cpf|    vestuario|2021-04-24 17:36:34|     0|       Vitor Correia|                XP|               PJ|
|        1008|               4.0|aleatoria|        saude|2021-11-16 21:46:47|     0|         Theo Novaes|                C6|               PJ|
|        1009|              24.3|      cpf|transferencia|2021-07-26 02:08:49|     0|     Isabel Caldeira|                XP|               PJ|
|        1010|           87555.3|aleatoria|transferencia|2022-03-14 15:34:45|     1|Sr. Henrique Cardoso|            Nubank|               PF|
|        1011|          21345.91|      cpf|transferencia|2021-10-31 04:31:51|     1|   Felipe Cavalcanti|            Nubank|               PJ|
|        1012|          73605.85|  celular|transferencia|2021-04-30 19:19:56|     1|     Dr. Davi da Luz|          Bradesco|               PJ|
|        1013|             93.53|      cpf|  alimentacao|2023-01-13 13:39:57|     0|    Stephany Cardoso|                C6|               PJ|
|        1014|            564.11|aleatoria|    vestuario|2022-05-27 23:06:08|     0|   Sra. Julia Araujo|              Itau|               PJ|
|        1015|              3.59|    email|        saude|2021-10-06 21:19:58|     0|     Carolina Farias|            Nubank|               PJ|
|        1016|          19164.89|    email|  alimentacao|2022-03-06 17:59:43|     0|   Isabelly da Costa|            Nubank|               PJ|
|        1017|             68.45|aleatoria|    vestuario|2022-04-01 18:17:40|     0|Joao Miguel Silveira|                C6|               PJ|
|        1018|            941.25|  celular|    vestuario|2022-05-23 00:28:13|     0|       Matheus Moura|                C6|               PF|
|        1019|27009.910000000003|    email|transferencia|2021-08-04 23:22:37|     1| Gabrielly Goncalves|              Itau|               PJ|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+
only showing top 20 rows

Como transforma as variáveis categoricas em númericas?

In [ ]:
indexer = StringIndexer(
    inputCols=[
        'destinatario_nome',
        'destinatario_banco',
        'destinatario_tipo',
        'categoria',
        'chave_pix'
    ],
    outputCols=[
        'destinatario_nome_index',
        'destinatario_banco_index',
        'destinatario_tipo_index',
        'categoria_index',
        'chave_pix_index'        
    ]
)

df_index = indexer.fit(df_flatten).transform(df_flatten)

Qual foi o resultado?

In [ ]:
df_index.printSchema()

root
 |-- id_transacao: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- chave_pix: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- fraude: integer (nullable = true)
 |-- destinatario_nome: string (nullable = true)
 |-- destinatario_banco: string (nullable = true)
 |-- destinatario_tipo: string (nullable = true)
 |-- destinatario_nome_index: double (nullable = false)
 |-- destinatario_banco_index: double (nullable = false)
 |-- destinatario_tipo_index: double (nullable = false)
 |-- categoria_index: double (nullable = false)
 |-- chave_pix_index: double (nullable = false)

In [ ]:
df_index.show()

23/08/24 09:02:33 WARN DAGScheduler: Broadcasting large task binary with size 1275.1 KiB

+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+
|id_transacao|             valor|chave_pix|    categoria|   transaction_date|fraude|   destinatario_nome|destinatario_banco|destinatario_tipo|destinatario_nome_index|destinatario_banco_index|destinatario_tipo_index|categoria_index|chave_pix_index|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+
|        1000|            588.08|aleatoria|       outros|2021-07-16 05:00:55|     0|         Calebe Melo|             Caixa|               PF|                12045.0|                     4.0|                    1.0|            6.0|            3.0|
|        1001|           80682.5|  celular|transferencia|2022-04-20 12:34:01|     1|  Davi Lucas Pereira|             Caixa|               PJ|                  259.0|                     4.0|                    0.0|            0.0|            2.0|
|        1002|             549.9|      cpf|        lazer|2022-07-10 16:51:34|     0|      Sabrina Castro|            Nubank|               PF|                  132.0|                     2.0|                    1.0|            4.0|            1.0|
|        1003|             90.83|aleatoria|   transporte|2022-10-20 10:57:36|     0|Francisco da Conc...|            Nubank|               PJ|                10475.0|                     2.0|                    0.0|            8.0|            3.0|
|        1004|13272.619999999999|    email|transferencia|2021-04-06 20:26:51|     0|   Isabelly Ferreira|               BTG|               PJ|                 4159.0|                     1.0|                    0.0|            0.0|            0.0|
|        1005|           9347.58|aleatoria|        saude|2022-07-24 15:22:27|     0|Srta. Maria da Cunha|              Itau|               PJ|                26853.0|                     3.0|                    0.0|            3.0|            3.0|
|        1006|           7836.76|      cpf|    presentes|2022-10-05 19:20:24|     0|     Catarina Duarte|                C6|               PF|                 5578.0|                     5.0|                    1.0|            7.0|            1.0|
|        1007|           3883.62|      cpf|    vestuario|2021-04-24 17:36:34|     0|       Vitor Correia|                XP|               PJ|                13528.0|                     0.0|                    0.0|            2.0|            1.0|
|        1008|               4.0|aleatoria|        saude|2021-11-16 21:46:47|     0|         Theo Novaes|                C6|               PJ|                 1141.0|                     5.0|                    0.0|            3.0|            3.0|
|        1009|              24.3|      cpf|transferencia|2021-07-26 02:08:49|     0|     Isabel Caldeira|                XP|               PJ|                 8369.0|                     0.0|                    0.0|            0.0|            1.0|
|        1010|           87555.3|aleatoria|transferencia|2022-03-14 15:34:45|     1|Sr. Henrique Cardoso|            Nubank|               PF|                22115.0|                     2.0|                    1.0|            0.0|            3.0|
|        1011|          21345.91|      cpf|transferencia|2021-10-31 04:31:51|     1|   Felipe Cavalcanti|            Nubank|               PJ|                 5897.0|                     2.0|                    0.0|            0.0|            1.0|
|        1012|          73605.85|  celular|transferencia|2021-04-30 19:19:56|     1|     Dr. Davi da Luz|          Bradesco|               PJ|                12212.0|                     6.0|                    0.0|            0.0|            2.0|
|        1013|             93.53|      cpf|  alimentacao|2023-01-13 13:39:57|     0|    Stephany Cardoso|                C6|               PJ|                   10.0|                     5.0|                    0.0|            1.0|            1.0|
|        1014|            564.11|aleatoria|    vestuario|2022-05-27 23:06:08|     0|   Sra. Julia Araujo|              Itau|               PJ|                24413.0|                     3.0|                    0.0|            2.0|            3.0|
|        1015|              3.59|    email|        saude|2021-10-06 21:19:58|     0|     Carolina Farias|            Nubank|               PJ|                10121.0|                     2.0|                    0.0|            3.0|            0.0|
|        1016|          19164.89|    email|  alimentacao|2022-03-06 17:59:43|     0|   Isabelly da Costa|            Nubank|               PJ|                 6122.0|                     2.0|                    0.0|            1.0|            0.0|
|        1017|             68.45|aleatoria|    vestuario|2022-04-01 18:17:40|     0|Joao Miguel Silveira|                C6|               PJ|                 6214.0|                     5.0|                    0.0|            2.0|            3.0|
|        1018|            941.25|  celular|    vestuario|2022-05-23 00:28:13|     0|       Matheus Moura|                C6|               PF|                 1829.0|                     5.0|                    1.0|            2.0|            2.0|
|        1019|27009.910000000003|    email|transferencia|2021-08-04 23:22:37|     1| Gabrielly Goncalves|              Itau|               PJ|                 5973.0|                     3.0|                    0.0|            0.0|            0.0|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+
only showing top 20 rows

Como separar a fraude da não fraude?

In [ ]:
is_fraud = df_index.filter("fraude == 1")
no_fraud = df_index.filter("fraude == 0")

Como separar uma amostra dos dados?

In [ ]:
no_fraud = no_fraud.sample(False, 0.01, seed=123)

Como unir dois dataframes e ordernar pela data?

In [ ]:
df_concat = no_fraud.union(is_fraud)
df = df_concat.sort("transaction_date")
df.count()

16202

### Modelagem:

Como separar os dados de traino dos dados de test?

In [ ]:
train, test = df.randomSplit([0.7, 0.3], seed = 123)
print("train =", train.count(), " test =", test.count())

23/08/24 09:02:35 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:02:37 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:02:38 WARN DAGScheduler: Broadcasting large task binary with size 1295.9 KiB
23/08/24 09:02:39 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:02:40 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB

train = 11278  test = 4924

23/08/24 09:02:41 WARN DAGScheduler: Broadcasting large task binary with size 1295.9 KiB

Como indentificar fraudes?

In [ ]:
is_fraud = udf(lambda fraud: 1.0 if fraud > 0 else 0.0, DoubleType())
train = train.withColumn("is_fraud", is_fraud(train.fraude))

In [ ]:
train.show()

23/08/24 09:02:42 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:02:43 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:02:44 WARN DAGScheduler: Broadcasting large task binary with size 1303.5 KiB

+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------+
|id_transacao|             valor|chave_pix|    categoria|   transaction_date|fraude|   destinatario_nome|destinatario_banco|destinatario_tipo|destinatario_nome_index|destinatario_banco_index|destinatario_tipo_index|categoria_index|chave_pix_index|is_fraud|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------+
|        1001|           80682.5|  celular|transferencia|2022-04-20 12:34:01|     1|  Davi Lucas Pereira|             Caixa|               PJ|                  259.0|                     4.0|                    0.0|            0.0|            2.0|     1.0|
|        1010|           87555.3|aleatoria|transferencia|2022-03-14 15:34:45|     1|Sr. Henrique Cardoso|            Nubank|               PF|                22115.0|                     2.0|                    1.0|            0.0|            3.0|     1.0|
|        1012|          73605.85|  celular|transferencia|2021-04-30 19:19:56|     1|     Dr. Davi da Luz|          Bradesco|               PJ|                12212.0|                     6.0|                    0.0|            0.0|            2.0|     1.0|
|        1019|27009.910000000003|    email|transferencia|2021-08-04 23:22:37|     1| Gabrielly Goncalves|              Itau|               PJ|                 5973.0|                     3.0|                    0.0|            0.0|            0.0|     1.0|
|        1023|           67206.2|      cpf|transferencia|2022-07-24 04:08:47|     1|     Stella Oliveira|              Itau|               PF|                 3228.0|                     3.0|                    1.0|            0.0|            1.0|     1.0|
|        1030|          34697.35|      cpf|transferencia|2021-11-26 01:14:31|     1|      Arthur Costela|                C6|               PJ|                 2171.0|                     5.0|                    0.0|            0.0|            1.0|     1.0|
|        1036|          20660.32|aleatoria|transferencia|2021-07-26 21:19:26|     1|Joao Pedro Nascim...|                C6|               PF|                 2672.0|                     5.0|                    1.0|            0.0|            3.0|     1.0|
|        1044|          57316.31|    email|transferencia|2022-02-08 17:45:44|     1|       Julia Costela|                C6|               PF|                   16.0|                     5.0|                    1.0|            0.0|            0.0|     1.0|
|        1054|          43089.52|      cpf|transferencia|2021-02-17 13:48:19|     1|         Diogo Jesus|                XP|               PF|                 2374.0|                     0.0|                    1.0|            0.0|            1.0|     1.0|
|        1070|          68105.27|    email|transferencia|2022-02-07 18:26:56|     1| Ana Carolina da Paz|             Caixa|               PF|                 5260.0|                     4.0|                    1.0|            0.0|            0.0|     1.0|
|        1079|23601.260000000002|      cpf|transferencia|2022-11-18 21:45:33|     1|     Melissa Almeida|            Nubank|               PJ|                 1834.0|                     2.0|                    0.0|            0.0|            1.0|     1.0|
|        1080|          55322.18|aleatoria|transferencia|2022-03-27 06:43:57|     1|     Marcela da Mata|             Caixa|               PF|                 4541.0|                     4.0|                    1.0|            0.0|            3.0|     1.0|
|        1096|          52426.54|    email|transferencia|2021-12-02 20:00:39|     1|Joao Vitor Cavalc...|                C6|               PJ|                 2675.0|                     5.0|                    0.0|            0.0|            0.0|     1.0|
|        1102|          33017.97|    email|transferencia|2022-04-14 11:29:35|     1|        Murilo Sales|               BTG|               PJ|                 6860.0|                     1.0|                    0.0|            0.0|            0.0|     1.0|
|        1106|          34960.46|  celular|transferencia|2021-12-26 05:35:37|     1|  Dr. Noah Rodrigues|          Bradesco|               PF|                18614.0|                     6.0|                    1.0|            0.0|            2.0|     1.0|
|        1107|          40388.89|aleatoria|transferencia|2022-03-11 08:05:44|     1|      Eloah da Costa|               BTG|               PJ|                12388.0|                     1.0|                    0.0|            0.0|            3.0|     1.0|
|        1118|59447.619999999995|  celular|transferencia|2022-08-02 19:58:31|     1| Guilherme das Neves|                XP|               PF|                 5994.0|                     0.0|                    1.0|            0.0|            2.0|     1.0|
|        1122|          51475.73|aleatoria|transferencia|2023-01-02 02:58:17|     1|   Alexandre Ribeiro|              Itau|               PJ|                11823.0|                     3.0|                    0.0|            0.0|            3.0|     1.0|
|        1123|          46113.83|    email|transferencia|2022-10-14 08:44:44|     1|       Rebeca da Luz|                XP|               PF|                  633.0|                     0.0|                    1.0|            0.0|            0.0|     1.0|
|        1128|           56395.0|      cpf|transferencia|2022-05-26 17:20:57|     1|Pedro Henrique Fe...|                C6|               PF|                15250.0|                     5.0|                    1.0|            0.0|            1.0|     1.0|
+------------+------------------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------+
only showing top 20 rows

Como ficou o Schema do dataframe train?

In [ ]:
train.printSchema()

root
 |-- id_transacao: integer (nullable = true)
 |-- valor: double (nullable = true)
 |-- chave_pix: string (nullable = true)
 |-- categoria: string (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- fraude: integer (nullable = true)
 |-- destinatario_nome: string (nullable = true)
 |-- destinatario_banco: string (nullable = true)
 |-- destinatario_tipo: string (nullable = true)
 |-- destinatario_nome_index: double (nullable = false)
 |-- destinatario_banco_index: double (nullable = false)
 |-- destinatario_tipo_index: double (nullable = false)
 |-- categoria_index: double (nullable = false)
 |-- chave_pix_index: double (nullable = false)
 |-- is_fraud: double (nullable = true)

Quais são as colunas do dataframe train?

In [ ]:
train.columns

['id_transacao',
 'valor',
 'chave_pix',
 'categoria',
 'transaction_date',
 'fraude',
 'destinatario_nome',
 'destinatario_banco',
 'destinatario_tipo',
 'destinatario_nome_index',
 'destinatario_banco_index',
 'destinatario_tipo_index',
 'categoria_index',
 'chave_pix_index',
 'is_fraud']

O que é um 'Vector Assembler'?

In [ ]:
assembler = VectorAssembler(
    inputCols = [x for x in train.columns if x not in ['transaction_date', 'fraude', 'is_fraud', 'destinatario_nome', 'destinatario_banco', 'destinatario_tipo', 'chave_pix', 'categoria']],
    outputCol="features"
)

Como criar um módelo de regressão logística?

In [ ]:
lr = LogisticRegression().setParams(
    maxIter=100000,
    labelCol = "is_fraud",
    predictionCol="prediction"
)

Como treinar o modelo?

In [ ]:
model = Pipeline(stages=[assembler, lr]).fit(train)

23/08/24 09:02:46 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:02:47 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:02:49 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:02:51 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:02:52 WARN DAGScheduler: Broadcasting large task binary with size 1341.3 KiB
23/08/24 09:02:55 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:56 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:57 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:58 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:59 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:59 WARN DAGScheduler: Broadcasting large task binary with size 1342.0 KiB
23/08/24 09:02:59 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:03:00 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:03:02 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:03:03 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB

Como realizar uma predição?

In [ ]:
predicted = model.transform(test)

Qual foi resultado da predição?

In [ ]:
predicted.show()

23/08/24 09:03:05 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:03:06 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB

+------------+--------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------------------+--------------------+--------------------+----------+
|id_transacao|   valor|chave_pix|    categoria|   transaction_date|fraude|   destinatario_nome|destinatario_banco|destinatario_tipo|destinatario_nome_index|destinatario_banco_index|destinatario_tipo_index|categoria_index|chave_pix_index|            features|       rawPrediction|         probability|prediction|
+------------+--------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------------------+--------------------+--------------------+----------+
|        1011|21345.91|      cpf|transferencia|2021-10-31 04:31:51|     1|   Felipe Cavalcanti|            Nubank|               PJ|                 5897.0|                     2.0|                    0.0|            0.0|            1.0|[1011.0,21345.91,...|[-30.160797827686...|[7.96768091944686...|       1.0|
|        1027|75786.55|  celular|transferencia|2021-10-20 19:39:46|     1|      Otavio Freitas|            Nubank|               PF|                  341.0|                     2.0|                    1.0|            0.0|            2.0|[1027.0,75786.55,...|[-299.98801472702...|[5.21027405023044...|       1.0|
|        1038|86418.48|    email|transferencia|2021-11-23 13:32:51|     1|         Isis Farias|             Caixa|               PJ|                 2628.0|                     4.0|                    0.0|            0.0|            0.0|[1038.0,86418.48,...|[-359.78118686414...|[5.61068455366922...|       1.0|
|        1066|87812.62|  celular|transferencia|2022-05-07 08:23:02|     1|       Joana Barbosa|             Caixa|               PJ|                12610.0|                     4.0|                    0.0|            0.0|            2.0|[1066.0,87812.62,...|[-373.26121043841...|[7.84722306564688...|       1.0|
|        1069|48297.18|  celular|transferencia|2021-04-10 15:10:51|     1|          Nina Jesus|          Bradesco|               PF|                 3088.0|                     6.0|                    1.0|            0.0|            2.0|[1069.0,48297.18,...|[-154.69106359426...|[6.58452849224117...|       1.0|
|        1100|34793.98|    email|transferencia|2021-01-17 11:59:46|     1|Dr. Luiz Gustavo ...|              Itau|               PF|                18369.0|                     3.0|                    1.0|            0.0|            0.0|[1100.0,34793.98,...|[-93.382255045324...|[2.78356858291810...|       1.0|
|        1120|45131.35|aleatoria|transferencia|2022-01-22 01:55:24|     1|       Joaquim Cunha|              Itau|               PF|                 4262.0|                     3.0|                    1.0|            0.0|            3.0|[1120.0,45131.35,...|[-143.79458016097...|[3.55473564010317...|       1.0|
|        1136|37926.52|  celular|transferencia|2021-12-07 19:35:51|     1|Sra. Emanuella Me...|                C6|               PJ|                24117.0|                     5.0|                    0.0|            0.0|            2.0|[1136.0,37926.52,...|[-120.30657667536...|[5.64309826992085...|       1.0|
|        1137|54317.83|    email|transferencia|2021-08-28 10:31:35|     1|      Gabriel Farias|              Itau|               PJ|                 5945.0|                     3.0|                    0.0|            0.0|            0.0|[1137.0,54317.83,...|[-197.39364800255...|[1.87511500760414...|       1.0|
|        1152|38907.48|  celular|transferencia|2021-02-07 04:17:16|     1|       Alice Azevedo|            Nubank|               PJ|                 1192.0|                     2.0|                    0.0|            0.0|            2.0|[1152.0,38907.48,...|[-119.55421947584...|[1.19746324874276...|       1.0|
|        1154|32825.54|  celular|transferencia|2022-07-25 20:07:56|     1|       Caua da Costa|          Bradesco|               PJ|                 3730.0|                     6.0|                    0.0|            0.0|            2.0|[1154.0,32825.54,...|[-84.244042582617...|[2.58986527805057...|       1.0|
|        1165| 68717.9|  celular|transferencia|2021-07-28 04:26:56|     1|   Dr. Kaique Duarte|                C6|               PF|                14147.0|                     5.0|                    1.0|            0.0|            2.0|[1165.0,68717.9,1...|[-265.61765894415...|[4.40267294135941...|       1.0|
|        1186|47684.29|      cpf|transferencia|2021-07-09 14:17:11|     1|Dr. Gustavo Henri...|          Bradesco|               PJ|                17690.0|                     6.0|                    0.0|            0.0|            1.0|[1186.0,47684.29,...|[-165.45019414311...|[1.39924464602013...|       1.0|
|        1193|79174.38|aleatoria|transferencia|2022-10-22 06:42:08|     1|        Calebe Porto|                C6|               PF|                 3670.0|                     5.0|                    1.0|            0.0|            3.0|[1193.0,79174.38,...|[-316.04751387609...|[5.52470005413532...|       1.0|
|        1232|48993.64|      cpf|transferencia|2021-12-06 08:48:14|     1|Srta. Isadora Nas...|                XP|               PJ|                26324.0|                     0.0|                    0.0|            0.0|            1.0|[1232.0,48993.64,...|[-183.46379965916...|[2.10224911837433...|       1.0|
|        1234|42959.57|  celular|transferencia|2021-04-16 23:50:25|     1|Maria Eduarda Car...|                C6|               PF|                   55.0|                     5.0|                    1.0|            0.0|            2.0|[1234.0,42959.57,...|[-127.25645860451...|[5.41031113965286...|       1.0|
|        1283|36345.31|  celular|transferencia|2021-08-08 19:37:56|     1|    Rafaela Teixeira|            Nubank|               PJ|                 4920.0|                     2.0|                    0.0|            0.0|            2.0|[1283.0,36345.31,...|[-107.95175952176...|[1.30962370643498...|       1.0|
|        1305|85179.93|      cpf|transferencia|2021-03-07 10:57:20|     1|  Dra. Mirella Moura|               BTG|               PF|                14765.0|                     1.0|                    1.0|            0.0|            1.0|[1305.0,85179.93,...|[-354.57510761786...|[1.02326316606354...|       1.0|
|        1320|77228.12|  celular|transferencia|2021-10-21 06:14:15|     1|        Sophie Rocha|                XP|               PJ|                 3225.0|                     0.0|                    0.0|            0.0|            2.0|[1320.0,77228.12,...|[-320.01225539147...|[1.04819803704867...|       1.0|
|        1331|71392.99|      cpf|transferencia|2021-12-24 17:29:48|     1|        Yuri Pereira|              Itau|               PF|                 7357.0|                     3.0|                    1.0|            0.0|            1.0|[1331.0,71392.99,...|[-278.02304570753...|[1.80353845713681...|       1.0|
+------------+--------+---------+-------------+-------------------+------+--------------------+------------------+-----------------+-----------------------+------------------------+-----------------------+---------------+---------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

23/08/24 09:03:07 WARN DAGScheduler: Broadcasting large task binary with size 1341.1 KiB

Como posso verificar a acurácia do modelo?

In [ ]:
predicted = predicted.withColumn('is_fraud', is_fraud(predicted.fraude))
predicted.crosstab('is_fraud', 'prediction').show()

23/08/24 09:03:08 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:03:09 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:03:11 WARN DAGScheduler: Broadcasting large task binary with size 1340.3 KiB
23/08/24 09:03:11 WARN DAGScheduler: Broadcasting large task binary with size 1330.7 KiB
23/08/24 09:03:11 WARN DAGScheduler: Broadcasting large task binary with size 1330.4 KiB
23/08/24 09:03:11 WARN DAGScheduler: Broadcasting large task binary with size 1328.0 KiB
23/08/24 09:03:11 WARN DAGScheduler: Broadcasting large task binary with size 1292.6 KiB
23/08/24 09:03:13 WARN DAGScheduler: Broadcasting large task binary with size 1304.9 KiB
23/08/24 09:03:14 WARN DAGScheduler: Broadcasting large task binary with size 1346.9 KiB
23/08/24 09:03:15 WARN DAGScheduler: Broadcasting large task binary with size 1334.5 KiB
23/08/24 09:03:15 WARN DAGScheduler: Broadcasting large task binary with size 1337.8 KiB

+-------------------+---+----+
|is_fraud_prediction|0.0| 1.0|
+-------------------+---+----+
|                1.0|  0|4682|
|                0.0|242|   0|
+-------------------+---+----+

Como criar novos valores para testando o nosso modelo?

In [ ]:
df_teste_cols = [
    'id_transacao',
    'valor', 
    'transaction_date',
    'destinatario_nome_index',
    'destinatario_banco_index',
    'destinatario_tipo_index',
    'chave_pix_index',
    'categoria_index',
    'fraude'
]

df_teste_data = [
    (999,103.2, "2023-01-01 11:56:41", 328.0, 4.0, 1.0, 3.0, 5.0, 0),
    (998, 500000.0, "2023-01-01 11:56:41", 328.0, 2.0, 3.0, 2.0, 5.0, 1),
    (997, 19999.0, "2023-01-01 11:56:41", 328.0, 1.0, 2.0, 1.0, 5.0, 0),
]

df_teste = spark.createDataFrame(df_teste_data).toDF(*df_teste_cols)

Como realizar a predição com os novos valores?

In [ ]:
new_prediction = model.transform(df_teste)

Qual foi o resultado da predição?

In [ ]:
new_prediction.show()

+------------+--------+-------------------+-----------------------+------------------------+-----------------------+---------------+---------------+------+--------------------+--------------------+-----------+----------+
|id_transacao|   valor|   transaction_date|destinatario_nome_index|destinatario_banco_index|destinatario_tipo_index|chave_pix_index|categoria_index|fraude|            features|       rawPrediction|probability|prediction|
+------------+--------+-------------------+-----------------------+------------------------+-----------------------+---------------+---------------+------+--------------------+--------------------+-----------+----------+
|         999|   103.2|2023-01-01 11:56:41|                  328.0|                     4.0|                    1.0|            3.0|            5.0|     0|[999.0,103.2,328....|[426.491663442539...|  [1.0,0.0]|       0.0|
|         998|500000.0|2023-01-01 11:56:41|                  328.0|                     2.0|                    3.0|            2.0|            5.0|     1|[998.0,500000.0,3...|[-2127.7942951680...|  [0.0,1.0]|       1.0|
|         997| 19999.0|2023-01-01 11:56:41|                  328.0|                     1.0|                    2.0|            1.0|            5.0|     0|[997.0,19999.0,32...|[331.314039851042...|  [1.0,0.0]|       0.0|
+------------+--------+-------------------+-----------------------+------------------------+-----------------------+---------------+---------------+------+--------------------+--------------------+-----------+----------+

# Data Quality - Deequ:

Fonte: [Deequ AWS](https://aws.amazon.com/pt/blogs/big-data/test-data-quality-at-scale-with-deequ/)

Fonte: [Deequ Doc](https://github.com/awslabs/deequ)

## Schema:

In [ ]:
schema_remetente_destinatario = StructType([
    StructField('nome', StringType()),
    StructField('banco', StringType()),
    StructField('tipo', StringType())
])

schema = StructType([
    StructField('id_transacao', IntegerType()),
    StructField('valor', DoubleType()),
    StructField('remetente', schema_remetente_destinatario),
    StructField('destinatario', schema_remetente_destinatario),
    StructField('chave_pix', StringType()),
    StructField('categoria', StringType()),
    StructField('transaction_date', StringType()),
    StructField('fraude', IntegerType())
])

## DataFrame:

In [ ]:
path = '../../../data/case_final.json'

df = spark.read.json(
    path,
    schema=schema,
    timestampFormat="yyyy-MM-dd HH:mm:ss"
)

## Código:

## Output:

In [ ]:
df.printSchema()

Como transformo uma Struct em uma coluna?

In [ ]:
df = df.withColumn(
      'destinatario_nome', col('destinatario').getField('nome')
    ).withColumn(
      'destinatario_banco', col('destinatario').getField('banco')
    ).withColumn(
      'destinatario_tipo', col('destinatario').getField('tipo')
    ).withColumn(
      'remetente_nome', col('remetente').getField('nome')
    ).withColumn(
      'remetente_banco', col('remetente').getField('banco')
    ).withColumn(
      'remetente_tipo', col('remetente').getField('tipo')
)

Como removo as colunas 'destinatario' e 'remetente'?

In [ ]:
df = df.drop('remetente', 'destinatario')

Como posso guardar o resultado das análises?

In [ ]:
analysisResult = (
    AnalysisRunner(spark).onData(df)
    .addAnalyzer(Size())
    .addAnalyzer(Completeness('id_transacao'))
    .addAnalyzer(Compliance("valor", "valor > 0"))
    .run()
)

O que é o 'analysisResult'?

In [ ]:
analysisResult

Como transformar um 'JavaObject id=o89' em um DataFrame?

In [ ]:
analysisResult_df = AnalyzerContext.successMetricsAsDataFrame(spark, analysisResult)

In [ ]:
analysisResult_df.show()

Como posso ter sugestões de métricas de qualidade?

In [ ]:
suggestionResult = ConstraintSuggestionRunner(spark).onData(df).addConstraintRule(DEFAULT()).run()

analysisResult_df.show()

Como vejo todas as sugestões?

In [ ]:
for sugg in suggestionResult['constraint_suggestions']:
  print(f"Sugestao de Constraint: \'{sugg['column_name']}\': {sugg['description']}")
  print(f"PySpark Code: {sugg['code_for_constraint']}\n")

Como verifico 'error' e 'Warning'?

In [ ]:
check = Check(spark, CheckLevel.Warning, "Review Check")
error = Check(spark, CheckLevel.Error, "Error")

Como posso criar métricas de qualidade?

In [ ]:
checkResult = (
    VerificationSuite(spark)
    .onData(df)
    .addCheck(
        check.hasDataType("id_transacao",ConstrainableDataTypes.Integral)
        .isNonNegative("id_transacao")
        .isComplete("id_transacao") 
        .isUnique('id_transcao')
    )
    .run()
)

Como posso verificar as métricas de qualidade?

In [ ]:
checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, checkResult)
checkResult_df.show(truncate=False)

Como posso testando se a verificação de qualidade está funcionando corretamente?

In [ ]:
checkResult = (
    VerificationSuite(spark)
    .onData(df)
    .addCheck(
        error
        .isContainedIn("remetente_tipo", ["CNPJ"])
    )
    .run()
)

Como posso verificar o teste?

In [ ]:
checkResult_df = VerificationResult.checkResultsAsDataFrame(spark, checkResult)
checkResult_df.show(truncate=False)